:root{
  --color: #bdc3c7;
  --highlight-color: #ecf0f1;
  --background: #2c3e50;
  --highlight-background: #34495e;
  --shadow: #000;
}
html{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--color);
}
body{
  padding: 1em;
}
a:link, a:visited {
  color: var(--color);
  text-decoration: none;
}
a:link:hover {
  color: var(--highlight-color);
}
body>div {
  padding: 1em;
  background: var(--highlight-background);
  box-shadow: var(--shadow) 0.1em 0.1em 0.2em;
}

nav.breadcrumb {
  --color: #000;
  --highlight-color: #336;
  --background: #bdc3c7;
  --highlight-background: #fff;
  color: var(--color);
  background: var(--background);
  box-shadow: var(--shadow) 0.1em 0.1em 0.2em;
  margin: 1em;
  margin-bottom: 2em;
}
nav.breadcrumb > a {
  display: inline-block;
  background: linear-gradient(var(--background), var(--highlight-background));
  padding: 0.5em;
  margin-right: 0.5em;
}
nav.breadcrumb > a:hover {
  background: var(--highlight-background);
}

.fileview.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.fileview.grid > .item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: calc(var(--icon-size)*2);
  border: 1px solid transparent;
  border-radius: 0.25em;
}
.fileview.grid > .item:hover {
  background: rgba(255,255,255,0.25);
  border: 1px solid rgba(255,255,255,0.5);
  color: var(--highlight-color);
}
.fileview.grid > .item > img {
  width: var(--icon-size);
  height: var(--icon-size);
}
.fileview.grid > .item > span {
  display: none;
}
.fileview.grid > .item > span.name {
  display: block;
  max-height: var(--icon-size);
  max-width: 100%;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow: hidden;
}