:root{
  --color: #bdc3c7;
  --highlight-color: #ecf0f1;
  --background: #2c3e50;
  --highlight-background: #34495e;
  --shadow: #000;
  --feature: #3498db;
}
html{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--color);
}
body{
  padding: 1em;
}

a:link, a:visited {
  color: var(--color);
  text-decoration: none;
}
a:link:hover {
  color: var(--highlight-color);
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

.btn {
  display: inline-block;
  background: var(--feature);
  padding: 0.5em;
  box-shadow: rgba(0,0,0,0) 0.1em 0.1em 0.2em;
  transition: 0.25s box-shadow;
}
.btn:hover {
  box-shadow: rgba(0,0,0,0.25) 0.1em 0.1em 0.2em;
}
.btn-large {
  font-size: 1.5em;
}
.btn-primary {
  background: var(--feature);
}

.flex-stack {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

/*
  Collapsible items
*/
.collapse-toggle + .collapse-content {
  display: none;
}
.collapse-toggle:checked + .collapse-content {
  display: block;
}

.fm {
  background: var(--highlight-background);
  box-shadow: var(--shadow) 0.1em 0.1em 0.2em;
}

nav.breadcrumb {
  --color: #000;
  --highlight-color: #336;
  --background: #bdc3c7;
  --highlight-background: #fff;
  color: var(--color);
  background: var(--background);
  line-height: 1.5;
}
nav.breadcrumb > a, nav.breadcrumb > span {
  display: inline-block;
  padding: 0.5em;
  margin-right: 0.1em;
}
nav.breadcrumb > span {
  padding: 0.1em;
}
nav.breadcrumb > a:hover {
  background: var(--highlight-background);
}

.fileview {
  padding: 1em;
  position: relative;
}
.fileview .item {
  border: 1px solid transparent;
  border-radius: 0.25em;
}
.fileview .item:hover {
  background: rgba(255,255,255,0.25);
  border: 1px solid rgba(255,255,255,0.5);
  color: var(--highlight-color);
}
.fileview .item > span {
  display: block;
  overflow-wrap: break-word;
  overflow: hidden;
  font-size: 0.9rem;
}
.fileview .item > span.name {
  font-size: 1rem;
}

.fileview.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.fileview.grid .item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: calc(var(--size)*2);
}
.fileview.grid .item.drive {
  position: relative;
  width: calc(var(--size)*2.5);
  padding-left: var(--size);
  text-align: left;
  align-items: start;
  min-height: var(--size);
}
.fileview.grid .item.drive > img {
  position: absolute;
  left: 0;
}
.fileview.grid .item.drive > span.usage, .fileview.grid .item.drive > span.usage-bar {
  display: block;
}
.fileview.grid progress {
  width: calc(var(--size) * 2);
  height: 24px;
}
.fileview.grid .item > img {
  width: var(--size);
  height: var(--size);
}
.fileview.grid .item > span {
  display: none;
}
.fileview.grid .item > span.name {
  display: block;
  max-height: var(--size);
  max-width: 100%;
}

.fileview.list {
  display: flex;
  flex-direction: column;
}
.fileview.list .item {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.25em;
  margin-bottom: 0.25em;
}
.fileview.list .item > img {
  width: calc(var(--size)/4);
  height: calc(var(--size)/4);
}
.fileview.list .item > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  align-self: center;
}
.fileview.list .item > span.name {
  flex-basis: 50%;
}
.fileview.list .item > span.moddate {
  flex-basis: 30%;
}
.fileview.list .item > span.size {
  flex-basis: 10%;
}
.fileview.list .item.drive > span.moddate {
  display: none;
}
.fileview.list .item.drive > span.usage {
  flex-basis: 20%;
}
.fileview.list .item.drive > span.usage-bar {
  flex-basis: 30%;
}
.fileview.list progress {
  width: 20vw;
  height: 1em;
}
.fileview.list.tree .foldercontent {
  padding-left: 1em;
  background: rgba(255, 255, 255, 0.1);
}


.file-properties {
  padding: 1em;
}
.file-properties > .flex-stack {
  flex-grow: 1;
  justify-content: space-around;
}

.subview {
  padding: 1em;
  background: var(--background);
}

.fv-header {
  /* an alternative header to the breadcrumb navigation */
  --color: #fff;
  --highlight-color: #faa;
  color: var(--color);
  background: var(--feature);
  padding: 0.5em;
}

.fv-footer {
  --color: #000;
  --highlight-color: #336;
  --background: #bdc3c7;
  --highlight-background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--color);
  background: var(--background);
  padding: 0.5em;
  line-height: 1.5;
}
.fv-footer form {
  margin: 0;
}